<h1 class="w3-panel w3-light-blue w3-card">
WELCOME TO ACCELERATE v1.0
</h1>
<h3 class="w3-panel">Using the Builder</h3>
<div class="w3-cell-row">
	<div class="w3-container w3-quarter">
		<div class="w3-container w3-cell w3-center w3-hover-greyscale">
			<img src="assets/S1.JPG" style="width:100%" (click)="onClick(0)"/>
			<h2 class="w3-light-blue">1. CREATE AN EMPLOYEE TABLE</h2> 
		</div>
	</div>
	<div class="w3-container w3-quarter">
		<div class="w3-container w3-cell w3-center w3-hover-greyscale">
			<img src="assets/S2.JPG" style="width:100%" (click)="onClick(1)"/>
			<h2 class="w3-light-blue">2. CREATE A TODO TABLE</h2> 
		</div>
	</div>
	<div class="w3-container w3-quarter">
		<div class="w3-container w3-cell w3-center w3-hover-greyscale">
			<img src="assets/S3.JPG" style="width:100%" (click)="onClick(2)"/>
			<h2 class="w3-light-blue">3. MOVE THE MODELS</h2> 
		</div>
	</div>
	<div class="w3-container w3-quarter">
		<div class="w3-container w3-cell w3-center w3-hover-greyscale">
			<img src="assets/S4.JPG" style="width:100%" (click)="onClick(3)"/>
			<h2 class="w3-light-blue">4. EDIT APP.MODULE</h2> 
		</div>
	</div>
</div>
<div class="w3-cell-row">
	
	<div class="w3-container w3-quarter">
		<div class="w3-container w3-cell w3-center w3-hover-greyscale">
			<img src="assets/S5.JPG" style="width:100%" (click)="onClick(4)"/>
			<h2 class="w3-light-blue">5. EDIT APP.COMPONENT</h2> 
		</div>
	</div>
	<div class="w3-container w3-quarter">
		<div class="w3-container w3-cell w3-center w3-hover-greyscale">
			<img src="assets/S6.JPG" style="width:100%" (click)="onClick(5)"/>
			<h2 class="w3-light-blue">6. REBUILD ANGULAR & RESTART NODE</h2> 
		</div>
	</div>
	<div class="w3-container w3-quarter">
		<div class="w3-container w3-cell w3-center w3-hover-greyscale">
			<img src="assets/S7.JPG" style="width:100%" (click)="onClick(6)"/>
			<h2 class="w3-light-blue">7. USE THE API</h2> 
		</div>
	</div>
</div>
<div id="gallery" class="w3-modal" (click)="onDone()">
<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
	<div class="w3-modal-content w3-animate-zoom">
		<img id="screen" style="width:100%">
		<p id="text" class="w3-large"></p>
	</div>
</div>


<!--
</p><div class="w3-dropdown-hover">
	<button class="w3-button w3-hover-red w3-circle">&excl;</button>
	<div class="w3-dropdown-content w3-bar-block w3-border">
		<p>Note:
		#1 : Please excuse the shabby looking UI/UX for version 1.0
		as I am not competent enough. I beckon from the back-end lands 
		yonder so please bear with me as I work to improve my UI/UX 
		design skills
		#2 : Acclerate's Front-end is fully customizable by changing 
		the associated HTML file in each component in Angular 4</p>
	</div>
</div>-->